/*
Colors:
    White #FFF
    Lightgrey #D3D3D3
    brown #6D584B
    light brown #a1938b
    green #DBF4E4
    blue #7fc2ed
*/

/* Parallax Jumbotron*/
body, html {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.parallax {
    background-attachment: fixed;
    background-image: url(../img/peacock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%; 
}

.parallax h1{
    color: white;
    font-size: 5em;
    text-shadow: 2px 2px 5px black;
}

.parallax h2{
    color: lightgrey;
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
}

.jumbotron {
    border-radius: 0px;
    margin-bottom: 0px;
}

/* Sections */
.white {
    background-color: white;
}

.green {
    background-color: #DBF4E4;
}

.blue {
    background-color: #217D7F;
}

.brown {
    color: #6D584B;
}

.light-brown {
    color: #a1938b;
}

#section {
    color: #6D584B;
    text-align: center;
    padding-bottom: 5%;
    padding-top:2%;
}

#section hr{
    width: 60%;
}

.round {
    border-radius: 100%;
}

/* Accordion Buttons */

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #DBF4E4;
    color: #6D584B;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: 0px;
    text-align: center;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  button.accordion.active, button.accordion:hover {
      background-color: #7fc2ed;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  div.panel {
    padding: 0 15px;
    background-color: #DBF4E4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 1px;
    box-shadow: 0px;
    font-size: 13px;
  }

/* Skill Tables */
.table-hover tbody tr:hover {
    background-color: #7fc2ed;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/* Projects */
.project {
    background:#fff; 
    border:1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    margin: 15px 0; 
    overflow:hidden;
    padding: 5px;
}

.project img{
    height: 180px;
    padding: 5px;
}

