

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.shape{
    border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}
.offer{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform:rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
    border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
    border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
    border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
    border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
    border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #C3BAB5; }
.offer-info .shape{
    border-color: transparent #C3BAB5 transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
}
.offer-content{
    padding:0 20px 10px;
}
@media (min-width: 487px) {
    .container {
        max-width: 750px;
    }
    .col-sm-6 {
        width: 50%;
    }
}
@media (min-width: 900px) {
    .container {
        max-width: 970px;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .col-lg-3 {
        width: 25%;
    }
}

.blue-link{
    color: #0037B2;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #DBF4E4;
  color: #6D584B;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 0px;
  text-align: center;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #7fc2ed;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0 15px;
  background-color: #DBF4E4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1px;
  box-shadow: 0px;
  font-size: 13px;
}

p.job {
  line-height: 1.8;
}

p.about {
  line-height: 1.6;
}
